body {
  background-color: tan;
  color: rgb(77, 44, 22);
  text-align: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

img{
  height: 200px;
  width: 300px;
  padding-top: 40px;
  padding-left: 50px;

}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 20px;
  margin-bottom: 20px;
}

.footer-full-width {
  background-color: rgb(61, 35, 18);
  width: 100%;
  color: tan;
  text-align: center;
  padding: 15px;
}

